header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    background-color: #DDD;
}

h1{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.titel{
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: cornflowerblue;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 50px;
    color: cornflowerblue;
}
h3 {
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
    color: cornflowerblue;
}

header nav {
    margin-bottom: 1rem;
    background-color: BFBBBB;
}

header nav a {
    display: block;
    padding: 1rem;
    transition: 300ms;
}

header nav a:hover {
    background-color: cornflowerblue;
}

header nav a.active {
    font-weight: bold;
}

#brand {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin-left: 10px;
}

#brand img {
    height: 6rem;
}

#brand h1 {
    padding: 0 0 0 1rem;
    margin: 0;
}

#brand h1 small {
    display: block;
    font-weight: normal;
    font-size: 1.3rem;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    position: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.anzeige {
    padding: 15px;
    padding-left: 20px;
}

#equation {
    height: 10%;
    width: 100%;
    float: left;
    background-color: lavender;
    color: black;
    font-size: x-large;
    line-height: 4vh;
}
#display {
    height: 30%;
    width: 100%;
    float: left;
    background-color: lavender;
    color: black;
    font-size: x-large;
    line-height: 12vh;
    text-align: right;
}
#keyboard {
    height: 60%;
    width: 100%;
    float: left;
    background-color: cornflowerblue;
}
.btn {
    height: 20%;
    width: 25%;
    float: left;
    color: black;
    text-align: center;
    font-size: x-large;
    line-height: 5vh;
    cursor: pointer;
}
.btn:hover {
    background-color: rgba(238, 238, 238, 0.2);
}

.interface {
    height: 500px;
    width: 500px;
    Margin-right: 50px;
}

#taschenrechner {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tipps {
    display: flex;
    flex-direction: column;
}

#tippcontainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background-color: #DDD;
    font-size: 0.9rem;
}

footer nav a {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid #AAA;
}

footer nav li:first-child a {
    margin: 0;
    padding: 0;
    border: none;
}