header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    background-color: #DDD;
}

h1{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.titel{
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: cornflowerblue;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 50px;
    color: cornflowerblue;
}
h3 {
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
    color: cornflowerblue;
}

header nav {
    margin-bottom: 1rem;
    background-color: BFBBBB;
}

header nav a {
    display: block;
    padding: 1rem;
    transition: 300ms;
}

header nav a:hover {
    background-color: cornflowerblue;
}

header nav a.active {
    font-weight: bold;
}

#brand {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin-left: 10px;
}

#brand img {
    height: 6rem;
}

#brand h1 {
    padding: 0 0 0 1rem;
    margin: 0;
}

#brand h1 small {
    display: block;
    font-weight: normal;
    font-size: 1.3rem;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    position: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.output {
    height: 400px;
}

.puffer {
    height: 60px;
}

.bg-c-t {
    background-color: cornflowerblue;
}

.bg-c-b {
    background-color: lavender;
}

.button {
    color: black;
    background-color: lavender;
}

.jumbotron {
    background-color: white;
}

footer {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background-color: #DDD;
    font-size: 0.9rem;
}

footer nav a {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid #AAA;
}

footer nav li:first-child a {
    margin: 0;
    padding: 0;
    border: none;
}